@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f7f6;
}

.box-picture{
  border-radius: 0%;
}

.card {
  border-radius: 0%;
  background-color: transparent;
  border: none;
}





/*                               WELCOME PAGE               */

.welcome-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
}

.hello{
  font-family: 'open sans';
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  color: darkgray;
  margin-top: 20px;
}

.landing-text{
  color: black;
  font-family: 'open sans';
  font-size: 16px;
  font-weight: 100;

}

.logo-dark-mode{
  width: 15% ;
  margin-top:60px;
}

.login-signup{
  display: flex;
 
}

.login-welcome{
  font-family: 'open sans';
  text-decoration: none;
  color:black;
  padding-right: 20px;
}

.login-welcome:hover{
  color:black;
}

.signup-welcome{
  font-family: 'open sans';
  text-decoration: none;
  color: black;
}

.signup-welcome:hover{
  color: black;
}







/*                                 LOGIN PAGE                */

.landing-format {
  background-color:transparent;
  width: 500px;
  height: 350px;
  margin: 0 auto;
  box-shadow: 5px 5px 10px #888888; 
}

.login-form {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:20px;
  
}

.login-form-text{
  font-family: 'open sans';
  margin-bottom: 20px;
  font-weight: 500;
}

.login-form input{
  border:1px solid #264653;
  font-size: 13px;
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
}

.login-form button{
font-family:'open sans';
font-weight: 500;
background-color: black;
color: white;
width: 300px;
height: 50px;
}



/*                       SIGNUP                       */

.signup-format {
  background-color:transparent;
  width: 500px;
  height: 400px;
  margin: 0 auto;
  box-shadow: 5px 5px 10px #888888; 
}

.signup-form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:20px;
  
}

.signup-form-text{
  font-family: 'open sans';
  margin-bottom: 20px;
  font-weight: 500; 
}

.signup-form input{
  border:1px solid #264653;
  font-size: 13px;
  
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
}

.signup-form button{
  font-family: 'open sans';
  font-weight: 600;
background-color: black;
color: white;
width: 300px;
height: 50px;
}


/*                                 HOME         */

.employee-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;

}

.carousel-text{
  font-family: 'open sans';
  font-weight: bold;
  color: black;
  /* background-color: white;
  width: 500px; */
}



/*                                EMPLOYEE          */

.location-text, .category-text{
  display: flex;
}

.category-text{
  display: flex;
  margin-top: -25px;
}

.location-text span{
  font-weight: bold;
  padding-right: 10px;
  font-family: 'Open Sans';
  font-size: 14px;
  margin-bottom: 15px;
}

.category-text span{
  font-weight: bold;
  padding-right: 10px;
  font-family: 'Open Sans';
  font-size: 14px;
}

.employee-name{
  font-family: 'Open Sans';
  font-size: 25px;
  font-weight: bold;
}

.read-more{
  background-color: black;
  width: 100px;
  height: 30px;
  font-family: 'Open Sans';
  font-size: 14px;
 margin-top: -20px;
 border: none;
 color:white;
 text-decoration: none;
}



.read-more:hover{
background-color: #f4f7f6;
color: black;

}

.link-read-more{
  text-decoration: none;
  /* color:white; */

}
.link-read-more:hover{
  
  color:black;

}
.read-save-block{
  margin-top: -5px;
}

.save-information{
  font-family: 'Open Sans';
  font-size: 14px;
  background-color: transparent;
  border: none;
}



/*               NAVIGATION            */
.nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 15vh;
 background-color:black; 
 --bs-nav-link-hover-color: white;
}

.nav li{
list-style: none;

}


.nav-link{
  text-decoration: none;
  color: white;
  font-family: 'Open Sans';
  font-size: 14px;
}


.nav-link:hover{
  color: white;

}

.nav-link:hover{
  color: white;

}

.log-out{
  border:1px solid white;
  cursor: pointer;
  height: 40px;
  margin-right: 20px ;
}

.brand{
  font-family: 'Alfa Slab One';
 margin-left: 20px ;
  z-index: 3;
  margin-top:-10px;
  text-decoration: none;
  color: white;
  font-size: 30px;
  --bs-nav-link-hover-color: white;
}

.brand:hover{
color: white;
 }
.nav-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;


}

.nav-toggle div {
  width: 40px;
  height: 2px;
  margin:5px;
  background-color:white;
  transition: 0.4s ease-in;
}

.nav-toggle {
  cursor: pointer;
  display: none;
}

  /* TOGGLE ICON ANIMATION */
.toggle .line1{
    transform: rotate(-45deg) translate(-4px, 5px);
  }
    
.toggle .line2{
    opacity: 0;
    }
    
.toggle .line3{
      transform: rotate(45deg) translate(-4px, -5px);
    }
  

/*                                   EMPLOYEE DETAILS            */


.discription-box{
  display: flex;
  align-items: center;
  justify-content: center;
}

.employee-info {
  font-family: 'open sans';
   font-size: 12px;
   color: black;
  
  }

.employee-info span{
  font-weight: bold;
  padding-right: 10px;
  font-family: 'Open Sans';
  font-size: 14px;
    
  }


.email-details-info{
  font-family: 'open sans';
  font-size: 12px;
  color: black;
}

.email-details-info span{
  font-weight: bold;
  padding-right: 10px;
  font-family: 'Open Sans';
  font-size: 14px;
}


.description-info{
  font-family: 'open sans';
  font-size: 12px;
  color: black;
  margin-top: -10px;
}

.description-info span{
  font-weight: bold;
  padding-right: 10px;
  font-family: 'Open Sans';
  font-size: 14px;
  
}

.phonenumber-info{
  font-family: 'open sans';
  font-size: 12px;
  color: black;
  margin-top: -10px;
}

.phonenumber-info span{
  font-weight: bold;
  padding-right: 10px;
  font-family: 'Open Sans';
  font-size: 14px;
}


.card-background {
  background-color: transparent;
  margin-top: 20px;
  border: 1px solid black;
}





/*                                           SEARCH                    */


.search-wrapper{
  display: flex;
  margin-top:50px;
  margin-bottom: 30px;
  justify-content: center;
  
}

/* .search-form{
  display: flex;
  justify-content: center;
  } */

.search-form input{
  width: 400px;
  height: 30px;
  border: 1px solid black;
}

.search-form button{
  background-color: black;
  color: white;
  border: none;
  height: 30px;
}


/*                          PROFILE                             */

.landing-format-user{
  background-color:transparent;
  width: 500px;
  height: 300px;
  margin: 0 auto;
  box-shadow: 5px 5px 10px #888888;
}

.user-form{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top:20px;
}

.user-form-text{
  font-family: 'open sans';
  margin-bottom: 20px;
  font-weight: 500;
}

.user-form input{
  border:1px solid black;
  font-size: 13px;
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
}

.user-form-edit{
  font-family:'open sans';
font-weight: 500;
background-color: black;
color: white;
width: 150px;
height: 50px;
border: none;
}

.user-form-delete{
  font-family:'open sans';
font-weight: 500;
border: none;
background-color:red;
color: white;
width: 150px;
height: 50px;
}



/*              MY EMPLOYEE                   */

.my-employee-name{
font-family: 'open sans';
font-size: 16px;
font-weight: bold;
}

.my-employee-button{
  border-radius: 0%;
  background-color: black;
  color: white;
}

.delete-all{
  background-color: black;
  color: white;
  font-family: 'open sans';
  font-size: 14px;
  margin-top: 50px;
  margin-bottom: 50px;

}


