@media  screen and (max-width:750px) {
  .logo-dark-mode {
    width: 33%;
    margin-top: 60px;
    animation-delay: 1s;
    animation: fadeIn 1s ease-in both;
}
}




@media  screen and (max-width:607px) {
    .nav-toggle{
      display: block;
      margin-right: 32px;
    }
    .nav-menu{
      position: fixed;
      top: 15vh;
      right: 0;
      width: 50%;
      height: 93vh;
      padding-bottom: 300px;
      background-color: black;
      flex-direction: column;
      transform: translateX(100%);
      transition:0.5s ease-in ;
      z-index: 99;
    }
  /* NAV ACTIVE CLASS */
  .nav-active {
    transform: translateX(0%);
  }
  }

  @media  screen and (max-width:593px) {
    .search-form input {
      width: 313px;
      height: 30px;
      border: 1px solid black;
  }
  }


  @media  screen and (max-width:523px) {
    .landing-format {
      background-color: transparent;
      width: 413px;
      height: 350px;
      margin: 0 auto;
      box-shadow: 5px 5px 10px #888888;
  }

  .signup-format {
    background-color: transparent;
    width: 413px;
    height: 400px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px #888888;
}

.landing-format-user{
  background-color:transparent;
  width: 413px;
  height: 300px;
  margin: 0 auto;
  box-shadow: 5px 5px 10px #888888;
}
  }

  @media  screen and (max-width:446px) {
    .search-form input {
      width: 248px;
      height: 30px;
      border: 1px solid black;
  }

  }

  @media  screen and (max-width:434px) {
    .landing-format {
      background-color: transparent;
      width: 350px;
      height: 350px;
      margin: 0 auto;
      box-shadow: 5px 5px 10px #888888;
  }

  .signup-format {
    background-color: transparent;
    width: 350px;
    height: 400px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px #888888;
}

.landing-format-user{
  background-color:transparent;
  width: 350px;
  height: 300px;
  margin: 0 auto;
  box-shadow: 5px 5px 10px #888888;
}
  }


  @media  screen and (max-width:385px) {
    .landing-text {
      color: black;
      font-family: 'open sans';
      font-size: 12px;
      font-weight: 100;
  }
  }

  @media  screen and (max-width:361px) {
    .login-form input {
      border: 1px solid #264653;
      font-size: 13px;
      width: 250px;
      height: 50px;
      margin-bottom: 20px;
  }

  .login-form button {
    font-family: 'open sans';
    font-weight: 500;
    background-color: black;
    color: white;
    width: 250px;
    height: 50px;
}

.landing-format {
  background-color: transparent;
  width: 300px;
  height: 350px;
  margin: 0 auto;
  box-shadow: 5px 5px 10px #888888;
}



.signup-form input {
  border: 1px solid #264653;
  font-size: 13px;
  width: 250px;
  height: 50px;
  margin-bottom: 20px;
}

.signup-form button {
  font-family: "open sans";
  font-weight: 600;
  background-color: black;
  color: white;
  width: 250px;
  height: 50px;
}

.signup-format {
  background-color: transparent;
  width: 297px;
  height: 400px;
  margin: 0 auto;
  box-shadow: 5px 5px 10px #888888;
}

.user-form input{
  border:1px solid black;
  font-size: 13px;
  width: 250px;
  height: 50px;
  margin-bottom: 20px;
}

.user-form-edit{
  font-family:'open sans';
font-weight: 500;
background-color: black;
color: white;
width: 100px;
height: 50px;
border: none;
}

.user-form-delete{
  font-family:'open sans';
font-weight: 500;
border: none;
background-color:red;
color: white;
width: 100px;
height: 50px;
}

.landing-format-user{
  background-color:transparent;
  width: 297px;
  height: 300px;
  margin: 0 auto;
  box-shadow: 5px 5px 10px #888888;
}
  }



  @media  screen and (max-width:329px) {
    .search-form input {
      width: 210px;
      height: 30px;
      border: 1px solid black;
  }  }